@import "custom";

* {
  box-sizing: border-box;
}

#appContain {
  border: 5px solid green;
  height: 100vh;

}

.appWrap {
  border: 5px solid $secondary;
  height: 65%;
  width: 40%;
  margin: auto;
}

#wrap {
  height: 100%;
  width: 100%;
  border: 2px solid orange;
}

#container {
  height: 100%;
  width: 100%;
  border: 2px solid $danger;
}

.form-control{
  width: 30%;
}

.quoteCard {
  height: 65%;
  border: solid 2px purple;
}

.buttonWrap {
  height: 15%
}

.quoteButtonContainer {
  height: 100%;


}
