/* make the customizations */
$theme-colors: (
        "info": tomato,
        "danger": teal
);

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#blankCost {
  width: 25%;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#root label {
  color: black;
background-color: #ffdfba;
  font-family: helvetica;
  padding: 10px;
  margin: 10px;
}

#container {
  background-color: #ffb3ba;
  display: grid;
   grid-template-columns: 50% 50%;

}


.wrap {
   display: grid;
   grid-template-columns: 25% 25%;
}

.out {
  background-color: #baffc9;

}

#customerFacing {
  display: grid;
  grid-template-columns: 50% 50%;
}

.flox {
  background-color: #bae1ff;
}

#customerFacing p {
  background-color: #fdcae1;
    font-family: helvetica;
  padding: 10px;
  margin: 10px;
}


/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
